body {
    font-family: "system-ui", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    cursor: default;
    font-size: 14px;
    color: #262626;
    margin: 5px 0;
}

#popup {
    width: 515px;
}

#options{
    
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(51, 51, 51);
        color: white;
    }

    #popup{
        background-color: #484848;
    }
}



section {
    padding: 0 15px
}

a {
    color: #4EA1E1;
}

.column {
    float: left;
    padding: 0px 10px;
}

.clear {
    clear: both;
}

/*
  Forms
*/

form {
    margin: 10px auto;
}

 label {
    text-align: left;
}

@media (prefers-color-scheme: dark) {
    label, table th {
        color: #fff;
    }
}

input[type="text"], input[type="time"], input[type="date"], select {
    font-family: inherit;
    height: 32px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    background: transparent;
    border: 1px solid #737373;
    padding: 0 11px;
    border-radius: 2px;
    outline: none; 
}

input[type="button"], input[type="submit"], button {
    outline: none;
    appearance: none;
    cursor: pointer;
    margin: 12px 0px 16px 0px;
    max-width: 374px;
    transition: all 0.1s ease-in-out;
    white-space: nowrap;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    min-width: 32px;
    padding: 0 10px;
    height: 32px;
    border: 2px solid transparent;
    border-radius: 2px;
    color: #2B2B2B;
    fill: #2B2B2B;
    background-color: #EDEDED;
}

input[type="button"]:hover, input[type="submit"]:hover, button:hover {
    background-color: rgb(242, 242, 242);
}

@media (prefers-color-scheme: dark) {
    input[type="button"], input[type="submit"], button {
        background-color: #454545;
        color: white;
    }
    
    input[type="button"]:hover, input[type="submit"]:hover, button:hover {
        background-color: #545454;
    }

    input[type="text"], input[type="time"], input[type="date"], select {
        color: white;
    }
}

.button-active {
    background-color: rgb(224, 222, 222);
}

@media (prefers-color-scheme: dark) {
    .button-active {
        background-color: #545454;
        color: white;
    }
}

.button-primary {
    background-color: rgba(40, 129, 197, 1) !important;
    color: white !important;
}

.button-primary:hover {
    background-color: rgba(40, 129, 210, 1) !important;
}

.button-primary:focus {
    background-color: rgba(40, 129, 197, 1) !important;
}

#inputRegex {
    min-width: 250px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-gray {
    color: #9D9D9D;
}

.text-danger {
    color: #bb3b3b;
}

#numResults {
    color: #9D9D9D;
    font-size: 10px;
}

#history {
    margin: 4px 2px;
    display: none;
}

.historyDeleteEntry {
    color: #c00;
    cursor: pointer;
    margin-right: 4px;
    font-size: 0.8em;
}

.historyLink {
    color: #4EA1E1;
    cursor: pointer;
}

.toolbar button {
    padding: 0;
    background-color: transparent;
    opacity: 0.75;
    margin: 0;
}

.toolbar button.selected {
    opacity: 1;
    background-color: #EDEDED;
}

.toolbar button:hover {
    opacity: 1;
    background-color: #EDEDED;
}

@media (prefers-color-scheme: dark) {
    .toolbar button {
        color: white;
    }
    .toolbar button.selected {
        background-color: #545454;
    }
    .toolbar button:hover {
        background-color: #545454;
    }
}

#UIInputTextFlags {
    width: 32px;
    height: 30px;
    border:1px solid transparent; 
}

#UIInputTextRegex {
    width: 180px;
    height: 30px;
    
    border:1px solid transparent; 
}

#UIDivNumberOfResults {
    min-width: 50px;
    line-height: 32px !important;
    height: 30px;
}